p {
	margin: 0px;
}

.list-item > div { cursor: pointer; }
.list-item .name { font-weight: bold; }
.list-item .description {
	font-style: italic;
	display: block;
}
.list-item .selected .description { color: #fff; }

.list-item .selected {
	background-image: -webkit-linear-gradient(top,#12a42e 0,#5cb85c 100%);
    background-image: -o-linear-gradient(top,#12a42e 0,#5cb85c 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#12a42e),to(#5cb85c));
    background-image: linear-gradient(to bottom,#12a42e 0,#5cb85c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff12a42e', endColorstr='#ff5cb85c', GradientType=0);
	color: #fff;
	cursor: default;
}

.congrats-message {
	position: relative;
	padding-right: 25px;
}
.congrats-message .remove-congrats {
	position: absolute;
	top: 10px;
	right: 10px;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto;
}

.double-bounce1, .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #31708f;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.panel-rooms {
	height: 310px;
	overflow: auto;
}

@-webkit-keyframes sk-bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
	0%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}
