{% extends 'layout.html' %}

{% block tag_html %} ng-app="client"{% endblock %}

{% block page_title %}Config - {{ super() }}{% endblock %}

{% block main_css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
    <div ng-controller="controller">
 		{% raw %}
        <div class="container-fluid">
            <h1>Configure me please</h1>
            <div class="alert alert-success config-saved" style="display: none;">Config successfully saved</div>
            <div class="alert alert-warning text-center" ng-if="loadingData.indexOf(true) != -1">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
                <b>Please wait! I'm loading configuration data.</b>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">Choose calendar</div>
                        <div class="panel-body">
                            <div class="list-item" ng-click="setSelected(calendar.id)" ng-repeat="calendar in calendars">
                                <div class="well well-sm selected" ng-if="calendar.id == selectedCalendar">
                                    <span class="name">{{ calendar.summary }}</span>
                                    <span class="description text-muted">{{ calendar.description }}</span>
                                </div>
                                <div class="well well-sm" ng-if="calendar.id != selectedCalendar">
                                    <span class="name">{{ calendar.summary }}</span>
                                    <span class="description text-muted">{{ calendar.description }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">Choose room where to post</div>
                        <div class="panel-body panel-rooms">
                            <div class="list-item" ng-click="setSelectedChannel(channel.id)" ng-repeat="channel in channels">
                                <div class="well well-sm selected" ng-if="channel.id == selectedChannel">
                                    <span class="name">{{ channel.name }}</span>
                                </div>
                                <div class="well well-sm" ng-if="channel.id != selectedChannel">
                                    <span class="name">{{ channel.name }}</span>
                                </div>
                            </div>
                            <!--<select data-placeholder="Choose a room..." >
                                <option value="{{ channel.name }}" ng-repeat="channel in channels" 
                                        ng-click="setSelectedChannel(channel.id)">{{ channel.name }}</option>
                            </select>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">Choose in what time send message</div>
                        <div class="panel-body">
                            <div class="col-md-4">
                                <label for="time-hours">Hours</label>
                                <select id="time-hours" class="form-control"
                                    ng-model="timeHour"
                                    ng-options="o.val as o.name for o in timeHourOptions">
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="time-minutes">Minutes</label>
                                <select id="time-minutes" class="form-control"
                                    ng-model="timeMinute"
                                    ng-options="o.val as o.name for o in timeMinuteOptions">
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="time-zone">Your time zone</label>
                                <select id="time-zone" class="form-control"
                                    ng-model="timeZone"
                                    ng-options="o for o in timeZoneOptions">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">Add text message</div>
                        <div class="panel-body">
                            <textarea class="form-control" ng-model="congrat_text"></textarea>
                            <span class="help-block">
                                I will replace <b>{}</b> with event name from calendar, so try to put it in You'r message.<br><br>
                                If You put in message <b><{}></b> and event name start with <b>@</b>, slack will show this as linked username.
                            </span>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-info btn-sm" class="save-congrat" ng-click="createCongratulation()">Add</button>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">Messages</div>
                        <div class="panel-body text-muted">
                            I randomly choose one of this messages and send to You'r slack channel at a specified time.
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item congrats-message" ng-repeat="c in congrats">
                                {{ c.text }}
                                <a href="javascript:void(0)" class="remove-congrats" ng-click="dropCongratulation(c.id, c.type)">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid text-center">
            <button class="btn btn-info save-button" ng-click="update()" ng-disabled="loadingData.indexOf(true) != -1">SAVE</button>
            <button class="btn btn-warning" data-toggle="modal" data-target="#removeModal" style="margin-left: 50px;">Remove config</button>
        </div>
 		{% endraw %}
 	</div>

    <div class="modal fade" id="removeModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirm the configuration removal</h4>
                </div>
                <div class="modal-body">
                    <p>Are You sure that I should forget about You? <[o  ̯ o]></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No, take me back</button>
                    <a href="/config/remove" class="btn btn-primary">Yes</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block main_js %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('bower.static', filename='angular/angular.min.js') }}"></script>
 	<script type="text/javascript" src="{{ url_for('static', filename='js/controller.js') }}"></script>
{% endblock %}