<!DOCTYPE html>
<html lang="en"{% block tag_html %}{% endblock %}>
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}Celebration Bot{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='img/cake-a-lie.png') }}" type="image/png">
    {% block main_css %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    {% block main_js %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% endblock %}
</body>
</html>